.sec {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.spinner-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9999;

}



.loader {
    position: absolute;
    left: 30%;
    margin-left: -1.9em;
    color: #02224d;
    font: 900 800% Reem Kufi, sans-serif;
}


@keyframes loading {
    from {
        max-height: 0;
    }
}

.loader:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    max-height: 1.4em;
    color: white;
    -webkit-text-stroke: 1px #02224d;
    text-stroke: 1px #02224d;   
    animation: loading 4s linear;
    animation-direction: reverse;
}