@import './common/header.css';
@import './pages/team.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Reem Kufi';
  background-color: #F7F8F2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.loader {
  position: absolute;
  color: #02224d;
  font: 900 500% Reem Kufi, sans-serif;
}


@keyframes loading {
  from {
    max-height: 0;
  }
}





svg {
  width: 95%;
  height: 95%;
}
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #02224d ;
}






.loader:before {
  content: attr(data-content);
    position: absolute;
    overflow: hidden;
    max-height: 1.4em;
    color: white;
    -webkit-text-stroke: 1px #02224d;
    -moz-text-stroke: 1px #02224d;
    animation: loading 4s linear;
    animation-direction: reverse;
}